.wp-block-create-block-number-counter .number-counter {
	color: var(--number-color);
    font-size: var(--number-size);
	line-height: 1;
	margin-bottom: 0px;
}

.wp-block-create-block-number-counter .number-counter__text {
	color: var(--text-color);
	font-size: var(--text-size);
    margin-bottom: 0px;
    margin-top: var(--text-gap)
}